---
import Container from "@components/container.astro";
import Cta from "@components/old/cta.astro";
// import Features from "@components/features.astro";
import Hero from "@components/home_content/hero.astro";
import Problem from "@components/home_content/home_problem.astro";
import LowerContact from "@components/lower_contact.astro";
// import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/contactform.astro";
import HomeTestimonials from "../components/home_content/home_testimonials.astro";
import HomeAboutFounder from "../components/home_content/home_about_founder.astro";
---

<Layout title="eddy">

  <div class="w-full bg-primary">
    <Hero />
  </div>

  <Container>
    <Problem />
    <HomeTestimonials />
    <!--<Features />-->
    <!--<Logos />-->
    <!--<Cta />-->
    <!--<ContactForm />-->
  </Container>

  <div class="w-full bg-base_dark">
    <HomeAboutFounder />
  </div>

  <!--<Container>-->
  <!--  <LowerContact />-->
  <!--</Container>-->

  <!--Added the typeform for swim plan generator-->
  <!--<div data-tf-live="01K48P1QHMWCJ8DM61AQRKJKZM"></div><script is:inline src="//embed.typeform.com/next/embed.js"></script>-->


<!--  Tally form-->
  <script is:inline async src="https://tally.so/widgets/embed.js"></script>

  <script is:inline>
  window.TallyConfig = {
  "formId": "wQbNEg",
  "popup": {
    "width": 450,
    "open": {
      "trigger": "scroll",
      "scrollPercent": 5
    },
    "autoClose": 5000,
    "doNotShowAfterSubmit": true
    }
  };
  </script>
</Layout>