---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import HomeAboutFounder from "../components/home_content/home_about_founder.astro";
import HomeTestimonials from "../components/home_content/home_testimonials.astro";

---

<Layout title="Eddy">
    <Container>
        <main class="py-8">
            <div class="mx-auto py-6">

                <h2 class="text-4xl lg:text-4xl xl:text-5xl font-bold text-primary_dark mb-8">
                    Features
                </h2>

            </div>

            <div class="flex items-center justify-center pt-8 pb-24">
                <div class="flex flex-col p-16 justify-center items-center rounded-3xl bg-secondary max-w-xl text-center">
                    <div class="font-bold text-xl text-text">Coming Soon!</div>
                    <div class="text-sm text-text pt-4">
                        You can expect customised sessions, written in a way to accomodate for any anxiety level, type, or swimming experience. <br/><br/>
                        These sessions will be combined to give you a full plan towards any goal, especially if it's just to increase confidence. <br/><br/>
                        In the future you can expect AI video analysis for skills, but be sure to follow our socials to keep up with all development updates!
                    </div>
                </div>
            </div>

        </main>
    </Container>
</Layout>

