---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
// import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Problem from "@components/problem.astro";
import LowerContact from "@components/lower_contact.astro";
// import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import ContactForm from "@components/contactform.astro";
---

<Layout title="eddy">

  <div class="w-full bg-primary">
    <Hero />
  </div>

  <Container>
    <Problem />
    <!--<Features />-->
    <!--<Logos />-->
    <!--<Cta />-->
    <!--<ContactForm />-->
    <LowerContact />
  </Container>
</Layout>
