---

import {Icon} from "astro-icon/components";
import anxietyIcon from "assets/anxiety_icon.png";

---

<main class="pt-8 md:pt-16">
    <div>
        <h1 class="text-4xl lg:text-4xl xl:text-5xl font-bold text-primary_dark">
            Swimming shouldn't feel terrifying.
        </h1>

        <p class="text-lg mt-8 text-text max-w-xl">
            Many adults want to learn to swim, but the fear, shame, or bad experiences make it feel impossible.
            Eddy changes that. We blend calm design, biomedical insight, and AI-powered guidance to help you move from
            panic to peace — one gentle swim at a time.
        </p>

        <div class="grid grid-cols-2 sm:grid-cols-7 align-middle pt-16">
            <div class="p-2">
                <h1 class="text-2xl lg:text-2xl xl:text-3xl font-bold  text-primary text-center">Anxiety</h1>
                <img class="size-min-32 object-center" src="/anxiety_icon.png" alt="image description">
            </div>

            <div class="hidden sm:grid pt-8">
                <img class="size-min-32 object-center" src="/arrow_right.png" alt="image description">
            </div>

            <div class="p-2">
                <h1 class="text-2xl lg:text-2xl xl:text-3xl font-bold text-primary text-center">Support</h1>
                <img class="size-min-32 object-center" src="/support_icon.png" alt="image description">
            </div>

            <div class="hidden sm:grid pt-8">
                <img class="size-min-32 object-center" src="/arrow_right.png" alt="image description">
            </div>

            <div class="p-2">
                <h1 class="text-2xl lg:text-2xl xl:text-3xl font-bold text-primary text-center">Progress</h1>
                <img class="size-min-32 object-center" src="/progress_icon.png" alt="image description">
            </div>

            <div class="hidden sm:grid pt-8">
                <img class="size-min-32 size-max-32 object-center" src="/arrow_right.png" alt="image description">
            </div>

            <div class="p-2">
                <h1 class="text-2xl lg:text-2xl xl:text-3xl font-bold text-primary text-center">Joy</h1>
                <img class="size-min-32 size-max-32 object-center" src="/joy_icon.png" alt="image description">
            </div>

        </div>

    </div>
</main>