---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import Button from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import ContactForm from "@components/contactform.astro";

---

<main class="py-8 md:pt-12 md:pb-16">
    <div class="pt-16 md:py-4">
        <div class="">
            <h3
                    class="text-2xl lg:text-3xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter text-primary">
                Join us today
            </h3>
            <p class="text-lg mt-4 mb-4 lg:mb-6 text-text max-w-xl">
                Sign up to help shape the future of swimming for anxious swimmers!
            </p>
        </div>
        <div class="">
            <ContactForm
                    accessKey="ca23b04a-ad55-47be-a692-0b34076fd6d7"/>
        </div>
    </div>
</main>
